/* .container { */
  /* display:flex;
  flex-direction: column;
  align-items: center; */
/* } */

#tweets-container {
  margin-bottom: 8vh;
}

article > header > div > img {
  width: 50px;
}

.tweet {
  border: 5px palevioletred dashed;
  padding: 10px;
  margin-top: 40px;
}

.tweetBorder {
  box-shadow: 5px 10px #888888;
}


article.tweet > header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.avatar-name {
  display:flex;
  align-items: center;
}

.avatar-name > span {
  margin-left: 5px;
}

div.icons > i {
  margin-left: 10px;
}

.icons {
  display: flex
}

.fill {
  color:red;
}

.date-icons {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid rgb(51, 95, 146);
  padding-top: 4px;
  margin-top: 20px;
}