.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width:100vw;
  padding: 1.5em;
  align-items: center;
  position: absolute;
  opacity: 1;
}

.logo {
  font-family:bungee;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}