.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pink;
  color: #FFFFFF;
  height: 120px;
  width:100vw;
  padding: 1.5em;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0px;
}

.logo {
  font-family:bungee;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow {
  color: red;
  background-color: pink;
  border: none;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 768px) {
  .top {
    background-color: transparent;
    position: static;
  }
  .logo {
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    padding: 0.5em;
  }
  .create > span {
    color: white;
    background-color: darkblue;
    padding: 0.5em;
    border-radius: 5px;
  }
  #arrow {
    background-color: transparent;
  }
}

@media only screen and (max-width: 570px) {
  .top {
    height: 10%;
  }
}

@media only screen and (min-width: 1500px) {
  .top {
    width: 1500px;
  }
}
