.new-tweet {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1em;
}

/* styles associated with the top of the new tweet */
.message {
  display: flex;
  flex-direction: column;
}

.message > label {
  font-weight: bold;
}

/* styles associated with the form */
#tweet-text {
  width: 100%;
  height: 2.5em;
  border: none;
  border-bottom: 4px solid cornflowerblue;
  background-color: #f4f1ec;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* styles associated with the footer of the new tweet */
#tweet-btn {
  background-color: pink;
}

.button-counter {
  display:flex;
  justify-content: space-between;
  font-family: bungee;
  padding-top: 0.5em;
}

/* class only added to counter if count < 140 */
.negative {
  color: red;
}

/* styles associated with error label */
#error {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  color: red;
  border: 0.25em solid red;
}

#error > p {
  text-align: center;
}

